<div class="settings">
  <div class="title">
    <span>{{title}}</span>
  </div>
  <div class="buttons">
    <div class="button" (click)="filterQuick()">
      Quick FILTERS
    </div>
    <div class="button" (click)="filterStat()">
      STATS FILTERS
    </div>
    <div (click)="visibleColumn()">
      <img src="assets/icons/setting.png" alt="Settings">
    </div>
  </div>

  <div class="quick-filters" *ngIf="isQuickFilterClicked">
    <div class="first-line">
      <div class="button" (click)="firstHalf()" [class.button-active]="statisticsService.stats[statisticsIndex].isFirstClicked">1st Half</div>
      <div class="button" (click)="secondHalf()" [class.button-active]="statisticsService.stats[statisticsIndex].isSecondClicked">2nd Half</div>
    </div>
    <div class="second-line">
      <div class="button" (click)="dominance()" [class.button-active]="statisticsService.stats[statisticsIndex].isDominanceClicked">Home Dominance</div>
      <div class="button" (click)="underScalp()" [class.button-active]="statisticsService.stats[statisticsIndex].isUnderScalpClicked">Unders scalp</div>
    </div>
  </div>
</div>
